.header{
    height: 100vh;
    width: 100vw;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}
.description{
    height: 96%;
    margin: 10px;
    width: 93%;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    list-style: none;
    font-size: 18px;
    border-radius: 10px;
    border: 1px;
    flex-direction: column;
    
}
.date{
    height: 209px;
    margin-top: 30px;
    border: 1px solid black;
    padding: 5px;
    width: 300px;
    display: flex;
    background-color: rgb(255, 255, 255,0.05);
    box-sizing: border-box;
    backdrop-filter: blur(5px);
    border-radius: 5px;
    margin-bottom: 30px;
    flex-direction: column;
    box-shadow: 2px 6px 10px rgba(0,0,0,0.2) ;
}
.about{
    height: 379px;
    margin: 10px;
    border: 1px solid black;
    width: 90%;
    display: flex;
    align-items: center;
    background-color: rgb(255, 255, 255,0.1);
    backdrop-filter: blur(5px);
    border-radius: 5px;
    margin-bottom: 30px;
    box-shadow: 2px 6px 10px rgba(0,0,0,0.2) ;
}
.top_bar{
    
   display: flex;
   flex-direction: row;
   align-items: center;
   width: 100%;
   background-color: rgb(255, 255, 255,0.1);
   height: 250px;
   border-bottom: 1px solid #000;

   backdrop-filter: blur(15px);

}
.circle{
    height: 60px;
    width: 60px;
    background-color:white;
    position: absolute;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 1%;
    font-size:30px;
    font-weight: bolder;
    box-shadow: 2px 6px 10px rgba(0,0,0,0.2);
}
.circle1{
    height: 60px;
    width: 60px;
    background-color: white;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    box-shadow: 2px 6px 10px rgba(0,0,0,0.2) ;
    right:1%;
    font-size: 30px;
    font-weight: bolder;
}

.storymode{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    flex-direction: column;
    transition: 1s ease-in linear;
    
}
.menuebar .li:hover {
    font-weight: bolder;
    background-color:white;
    color: black;
    
}
 
.menuebar .li{
    min-width: 200px;
    transition: 0.4s ease;
    text-decoration: none;
    color: white;
    display:flex;
    flex-direction: row;
    align-items: center;
    padding-left: 20px;
}
.country{
    background-color: white;
    width: 100%;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.day{
    background-color: white;
    width: 100%;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.menuebar{
    transition: 0.5s linear;
    height: 100vh;
    backdrop-filter: blur(5px);
    color: white;
    width: 0;
    max-width: 250px;
    line-height: 60px;
    opacity: 1;
    top: 0;
    list-style: none;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    font-weight: bold;
    justify-content: center;
    overflow-y: hidden;
    z-index: 0;
    position: fixed;
    overflow-x: hidden;
    left: 0;  
    cursor: pointer; 
}  

.weather{
    height: 70%;
    margin: 10px;
    width: 30%;
    padding: 20px;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    background-color:rgb(255, 255, 255,0.5);
    border-radius: 10px;
    border: 1px;
    flex-direction: column;
    box-shadow: 2px 6px 10px rgba(0,0,0,0.9) ;
}
.votecount{
    width: 100%;
    display: flex;
    
}
.search_tab{
    width: 50%;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    margin-left: 20px;
    background-color: white;
}
.search_tab input{
    width: 90%;
    padding-left: 20px;
    height: 60%;
    border-radius: 10px;
    background-color: white;
    border: none;
   
}
